main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 48, 48, 0.8);
    width: 1200px;
    padding: 20px;
    border-radius: 20px;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#formulario {
    font-size: large;
}

.parformulario 
{
    margin-bottom: 10px;
    color: black;
}

.parformulario input
{
    font-size: large;
    background-color: rgb(48, 48, 48);
    color: gray;
}

#enviar {
    font-size: large;
    width: 150px;
    margin-top: 10px;
    margin-left: 225px;
}