*
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h2
{
    text-align: center;
    margin-bottom: 25px;
}

header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

header img
{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

body
{
    background-image: url('../images/grey.jpg');
    background-size: cover; /* La imagen cubre todo el espacio */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* La imagen queda fija al hacer scroll */
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul
{
    list-style: none;
}

nav 
{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 100;
}

.menuNivel1
{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 20px;
}

.menuNivel1 li:hover
{
    background-color: #411818;
}

.menuNivel1 li > a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
}

.menuNivel1 .activo
{
    background-color: #0e0e0e;
}

.menuNivel1 .activo a
{
    color: white;
}

.menuNivel1 > li
{
    width: 100%;
    max-width: 378px;
    text-align: center;
    background-color: #6b1717;
    position: relative;
}

.menuNivel2
{
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}

.menuNivel2 > li
{
    width: 100%;
    text-align: center;
    background-color: #333;
}

.menuNivel1 li:hover ul
{
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    border-collapse: collapse;
}

th
{
    text-align: left;
    color: #6b1717;
}

tbody tr:nth-child(odd) {
    background-color: #3a3a3a;
}

.fecha
{
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

.ciudad
{
    font-style: italic;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

.comprar
{
    margin-left: 50%;
    width: 150px;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    background-color: #6b1717;
    border-radius: 12px;
}

.comprar:hover {
    animation: glow 0.3s forwards;
}

@keyframes glow {
    to {
        box-shadow: 0 0 15px rgba(204, 68, 68, 0.6);
    }
}
